.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 15.6rem;
    line-height: 1.87rem;
    margin-bottom: 1.87rem;
    border-radius: 8px;
}

@media screen and (max-width: 780px) {
    .search-box {
      width: 27.5rem;
      max-width: 27.5rem;
      margin-bottom: 1.25rem;
    }
  }